* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Michroma";
  height:100vh;
  width:100vw;
  background-color:#0A0D11;
  background-image: url(/images/Background.svg);
  background-repeat: no-repeat;
  background-size:cover; 
  overflow-x: hidden;
}
.nav-link:hover {
  color: #E8B354;
}
.bat {
  position: relative;
  margin-top: 6%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/*===============================Header===============================*/
header{
  border-bottom: 1px solid rgb(32, 32, 32);
  backdrop-filter: blur(12.5px);
}
.navbar {
  padding-top: 20px;
}
.navbar .nav-links ul li {
  margin: 0 25px;
}
.navbar a{
  color: white;
}
.menu-hamburger {
  display: none;
}
.logo:hover {
  animation: shake .6s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-3deg); }
  20% { transform: translate(-3px, 0px) rotate(3deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(3deg); }
  50% { transform: translate(-1px, 2px) rotate(-3deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-3deg); }
  80% { transform: translate(-1px, -1px) rotate(3deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-3deg); }
}

/*=============================== SECTION ===============================*/
.col-5{
  margin-top: 232px;
}
.col-5 h1{
  background: linear-gradient(295.38deg, #FFE5A2 4.89%, #BF841A 50.44%, #FFCD74 95.06%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 77px;
  letter-spacing: 0.02em;
}
.col-5 h1 span{
  font-size: 66px;
  font-weight: bold;
  letter-spacing: 20px;
}
.col-5 p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #EFF3FB;
}
.link a:nth-child(1){
  width: 170px;
  height: 50px;
  background: linear-gradient(295.38deg, #FFE5A2 4.89%, #BF841A 50.44%, #FFCD74 95.06%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 18px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, gold, black) 1;
}
.link a:nth-child(2){
  margin-left: 36px;
  width: 170px;
  height: 50px;
  background: linear-gradient(295.38deg, #FFE5A2 4.89%, #BF841A 50.44%, #FFCD74 95.06%);
  border-radius: 5px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #0A0D11;
  font-family: 'Montserrat';
}
.link a:nth-child(2):hover{
  color: white;
  transition: all .8s;
  background: linear-gradient(295.38deg, #6d695f 4.89%, #5b4015 50.44%, #3c2404 95.06%);
}
.link a:nth-child(1):hover{
  border-image: linear-gradient(to left, gold, black) 0.5;
  transition:all 1s;
}
.col-6{
  margin-top: 70px;
}
.workss{
  margin-top: 80px;  
  padding-bottom: 10%;
}
.works img{
  padding: 0 2% 0;
}
.works h3{
  background: linear-gradient(295.38deg, #FFE5A2 4.89%, #BF841A 50.44%, #FFCD74 95.06%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.works p{
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
}
.frame__img{
  width: 380px;
}
.hero__img{
  width: 750px;
}
iframe{
  height: 100vh;
}
.iframe3d h2 {
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-size: 102px;
  line-height: 80px;
  height: 100px;
  align-items: center;
  text-align: center;
  -webkit-text-stroke: 2px #7A4FFF;
  color: transparent;
}
.iframe3d h2 span:nth-child(2){
  -webkit-text-stroke: 2px #FF50AA;
  color: transparent;
}
.iframe3d h2 span:nth-child(3){
  -webkit-text-stroke: 2px #00EEB8;
  color: transparent;
}
.iframe3d h2 span:nth-child(4){
  -webkit-text-stroke: 2px #00EEB8;
  color: transparent;
}
.iframe3d h2 span:nth-child(5){
  -webkit-text-stroke: 2px #FFA35B;
  color: transparent;
}
.iframe3d h2 span:nth-child(6){
  -webkit-text-stroke: 2px #FF50AA;
  color: transparent;
  text-indent: 50px;
}

/*=============================== footer ===============================*/

.footer{
  background:#0B0C18;
  padding:30px 0px;
  text-align:center;
  }

  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#E8B354;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  .footer div a{
    padding-right: 1%;
  }
  ..footer div a svg{
    fill: #00EEB8;
  }

/*=============================== responsive ===============================*/

@media screen and (max-width: 991px){
  .nav-links{
    display: none;
  }
  .logo{
    display: none;
  }
}

@media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }

@media screen and (max-width: 500px) {
  
  .nav-links {
    top: 0;
    left: -70%;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(67, 66, 66, 0);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100vh;
    transition: left 1s ease;
  }
  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .nav-links ul li {
    margin-bottom: 50px;
    font-size: 0.7em;
  }
  .menu-hamburger {
    display: block;
    margin-left: 20%;
  }
  .logo{
    display: none;
  }
}